In [2]:
%matplotlib inline

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Data//autos.csv')

In [6]:
#df.head()

In [7]:
features = ["highway_mpg", "engine_size", "horsepower", "curb_weight"]
X = df.copy()
y = X.pop('price')
X = X.loc[:, features]

In [8]:
X.head()

   highway_mpg  engine_size  horsepower  curb_weight
0           27          130         111         2548
1           27          130         111         2548
2           26          152         154         2823
3           30          109         102         2337
4           22          136         115         2824

In [9]:
X.mean()

highway_mpg      30.787565
engine_size     128.124352
horsepower      103.481865
curb_weight    2561.507772
dtype: float64

In [15]:
X.mean(axis=1)

0      704.00
1      704.00
2      788.75
3      644.50
4      774.25
        ...
188    808.75
189    843.75
190    835.50
191    873.75
192    835.50
Length: 193, dtype: float64

In [11]:
X.std()

highway_mpg      6.816910
engine_size     41.590452
horsepower      37.960107
curb_weight    526.700026
dtype: float64

In [14]:
X.std(axis=1)

0      1230.147688
1      1230.147688
2      1357.487722
3      1128.898135
4      1367.397620
          ...
188    1429.645498
189    1471.376991
190    1452.390788
191    1562.937699
192    1485.160485
Length: 193, dtype: float64

In [25]:
X_scaled_0 = (X - X.mean(axis=0)/X.std(axis=0))
print(X_scaled.shape)
X_scaled_0.head()

(193, 4)

   highway_mpg  engine_size  horsepower  curb_weight
0    22.483648   126.919381  108.273931  2543.136686
1    22.483648   126.919381  108.273931  2543.136686
2    21.483648   148.919381  151.273931  2818.136686
3    25.483648   105.919381   99.273931  2332.136686
4    17.483648   132.919381  112.273931  2819.136686

In [22]:
#X_scaled_1 = (X - X.mean(axis=1)/X.std(axis=1))
#X_scaled_1.head()
#yields
# 5 rows Ã— 197 columns all NaNs

In [23]:
from sklearn.decomposition import PCA

In [27]:
pca = PCA()
X_pca = pca.fit_transform(X_scaled_0)
component_names = [f"PC{i+1}" for i in range(X_pca.shape[1])]
X_pca = pd.DataFrame(X_pca, columns=component_names)

In [28]:
X_pca.head()

          PC1        PC2        PC3       PC4
0  -12.876074   8.395804  -3.254642 -3.157603
1  -12.876074   8.395804  -3.254642 -3.157603
2  264.922554  32.159068 -17.396629  1.557667
3 -225.007983   6.321536 -10.027453 -1.786750
4  262.737834  -8.084909  -6.639012 -5.785563