In [16]:
using PyCall, StatsBase

In [12]:
px = pyimport("plotly.express")

PyObject <module 'plotly.express' from '//home/barabasz/anaconda3/lib/python3.8/site-packages/plotly/express/__init__.py'>

In [13]:
px.data.iris().head()

PyObject    sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [19]:
sample([1,2,3], 3, replace=false)

3-element Array{Int64,1}:
 2
 1
 3